body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

header {
  text-align: center;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

button {
  background: #1e1e1e;
  color: white;
  border: 1px solid #333;
  padding: 10px 15px;
  border-radius: 8px;
}

button:hover {
  background: #2a2a2a;
}

#ui {
  text-align: center;
  padding: 10px;
  min-height: 60px;
}

#map {
  display: flex;
  justify-content: center;
  padding: 10px;
}

svg {
  width: 100%;
  max-width: 700px;
  height: 500px;
  background: #111;
  border-radius: 10px;
}