body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

nav {
  display:flex;
  justify-content:center;
  gap:10px;
}

button {
  background:#1e1e1e;
  color:white;
  padding:10px;
  border:1px solid #333;
  border-radius:8px;
}

#ui {
  text-align:center;
  padding:10px;
}

#map {
  display:flex;
  justify-content:center;
}

svg {
  background:#111;
  border-radius:10px;
}